* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banniere {
    z-index: -99;
}

.hautnike {
    font-family: 'Montserrat';
    background-color: #F0F2F0;
    text-align: center;
    

}

nav {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: 8vh;
   
    
}

.logo {
    margin-left: 20px;
    width: 100px;
}



.menuicons {
    display: flex;
    align-items: center;
    
    
}

.icons {
    cursor: pointer;
    display: flex;
   
    z-index: 2;
}


.menu {
    
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 14px;
   z-index: 2;
   
}
.menu li {
    color: white;
    font-family: 'Montserrat', sans-serif;

}
.burger div {
    width: 25px;
    height: 2px;
    background-color: white;
    margin: 5px;
}

.burger {
    display: none;
    margin-right: 20px;
}

.newin {
    margin-right: 20px;
}

.homme {
    margin-right: 20px;
}

.femme {
    margin-right: 20px;
}

.enfants {
    margin-right: 20px;
}


.menu a {
    text-decoration: none;
    color: white;
}




.bag {
    margin-left: 10px;
    margin-right: 20px;
}



  .article1 {
      font-family: 'Montserrat';
      margin-left: 200px;
      margin-top: 110px;
      font-size: 20px;
  }

  .items {
font-family: 'Montserrat';
display: flex;
justify-content: space-around;
margin-top: 70px;

  }

  .items1 {
      display: flex;
      flex-direction: column;
      
  }

  .items2 {
    display: flex;
    flex-direction: column;
}

.items3 {
    display: flex;
    flex-direction: column;

}



a:hover {
    
    color: rgb(141, 140, 140);
    padding: 8PX;
    text-decoration: none;
}

.newcollection {
    margin-top: 200px;
}

.nike {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    width: 100%;
    
    font-family: 'Montserrat';
}

.ready {
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
    
}

.videorfs {
    display: flex;
    width: 50%;
    
}

.readyforsport {
    display: flex;
    width: 50%;
}
.rfs {
    font-family: 'Montserrat';
    text-align: center;
    background-color: #F0F2F0;
}

.marques {
    display: flex;
    justify-content: space-around;

    margin-top: 100px;
    font-family: 'Montserrat';
}

.titremarque {
    font-family: 'Montserrat';
    margin-top: 100px;
    margin-left: 200px;
}



.foot {
    margin-top: 150px;
    background-color: black;
    width: 100%;
    height: 220px;
}

.socialm {
    display: flex;
    justify-content: flex-end;
    
   
}

.facebook {
    margin-right: 15px;
}

.instagram {
    margin-right: 150px;
}

.twitter {
    margin-right: 15px;
}

.youtube {
    margin-right: 15px;
}

.logofooter {
   
    margin-top: 20px;
    margin-left: 20px;
}

.container {
    display: flex;
    flex-direction: row;
}
.super-star {
    margin-top: 100px;
    margin-left: 50px;
}

.superstartitre {
    font-family: 'Montserrat';
    margin-left: 80px;
    margin-top: 150px;
}

.dessuperstar {
    font-family: 'Montserrat';
    margin-left: -320px;
    margin-top: 200px;
}
@media screen and (max-width: 1200px) {

   
    nav {
        width: 100%;
    }

    .ready {
        display: flex;
        justify-content: space-around;
    }

    .videorfs {
        width: 50%;

    }

    .readyforsport {
        width: 50%;
    }

    

    .marques {
        display: flex;
        flex-direction: column;
        align-items: center;

}
.nike {
    display: flex;
flex-direction: column;
align-items: center;
}
.titremarque {
    margin-left: 50px;
}

.imgnike {
    width: 500px;
}
.imgntf {
    margin-top: 40px;
    width: 500px;
}

.imgadidas {
    margin-top: 40px;
    width: 500px;
}

.imgfila {
    margin-top: 40px;
    width: 500px;
}
.sweat {
    margin-top: 40px;
    
}

.parka{
    margin-top: 40px;
}
}

@media screen and (max-width: 1000px) {

    html, body {
        overflow-x: hidden;
    }
    .menu {
        position: absolute;
        right: 0;
        height: 92Vh;
        top: 8vh;
        background-color: black;
        width: 50%;
        display: flex;
        flex-direction: column;
        
        align-items: center;
        transform: translateX(100%);
       
        
        
    }

    .nav-active {
        transform: translateX(0%);
        transition:transform 0.5s ease-in;
    }

    @keyframes menuFade {
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }

    .toggle .line1 {
        transform: rotate(-45deg translate(-5px,6px));
    }

    .toggle .line2 {
        opacity:0;
    }

    .toggle .line3 {
        transform: rotate(-45deg translate(-5px,6px));
    }

    .burger {
        display: block;
    }


    .items {
        display: flex;
    flex-direction: column;
    align-items: center;
    }
    
    .nike {
        display: flex;
    flex-direction: column;
    align-items: center;
    }

    .ready {
        display: flex;
        flex-direction: column;
    }

    .readyforsport {
        width: 100%;
    }

    .videorfs {
        width: 100%;
        height: 400px;
    }
    

    .items2 {
        margin-top: 40px;
    }
    
    .items3 {
        margin-top: 40px;
    }
    
    .sweat {
        margin-top: 40px;
        
    }
    
    .parka{
        margin-top: 40px;
       
    }
    .titremarque {
        margin-left: 50px;
    }
    .imgntf {
        margin-top: 40px;
    }
    
    .imgadidas {
        margin-top: 40px;
    }
    
    .imgfila {
        margin-top: 40px;
    }
    #myvideo {
        width: 1000px;
        height: 100%;
    }
    

}
@media all and (max-device-width: 768px) {
    .ready {
        display: flex;
        flex-direction: column;
    }

    .readyforsport {
        width: 100%;
    }

    .videorfs {
        width: 100%;
        height: 400px;
    }
    .items2 {
        margin-top: 40px;
    }
    
    .items3 {
        margin-top: 40px;
    }
    
    .titremarque {
        margin-left: 50px;
    }
    .imgntf {
        margin-top: 40px;
    }

    .imgadidas {
        margin-top: 40px;
    }

    .imgfila {
        margin-top: 40px;
    }
}
@media all and (max-device-width: 690px) {
 
    
  .superstar {
    width: 250px;
    
}
.airforce {
    width: 250px;
    
}
.stansmith {
    width: 250px;
}
.article1 {
    font-size: 18x;
    margin-left: 65px;
}

.items {
    display: flex;
    align-items: center;
}
.items2 {
    margin-top: 40px;
}

.items3 {
    margin-top: 40px;
}


.veste {
    width: 360px;
    height: 480px;
}

.sweat {
    margin-top: 40px;
    width: 360px;
    height: 480px;
}

.parka{
    margin-top: 40px;
    width: 360px;
    height: 480px;
}

.titremarque {
    margin-left: 50px;
}
.imgntf {
    margin-top: 40px;
}

.imgadidas {
    margin-top: 40px;
}

.imgfila {
    margin-top: 40px;
}


}
@media all and (max-device-width: 570px) {

    

    .superstar {
        width: 250px;
        
    }
    .airforce {
        width: 250px;
        
    }
    .stansmith {
        width: 250px;
    }
    .article1 {
        font-size: 18x;
        margin-left: 65px;
    }

    .items {
        display: flex;
        align-items: center;
    }
    .items2 {
        margin-top: 40px;
    }

    .items3 {
        margin-top: 40px;
    }

    .veste {
        width: 360px;
    }

    .sweat {
        margin-top: 40px;
        width: 360px;
    }

    .parka{
        margin-top: 40px;
        width: 360px;
    }

    .titremarque {
        margin-left: 50px;
        
    }

    .imgnike {
        width: 400px;
    }
    .imgntf {
        margin-top: 40px;
        width: 400px;
    }

    .imgadidas {
        margin-top: 40px;
        width: 400px;
    }

    .imgfila {
        margin-top: 40px;
        width: 400px;
    }


    
}

@media all and (max-device-width: 480px) {
    
    
    .imgnike {
        width: 350px;
    }
    .imgntf {
        margin-top: 40px;
        width: 350px;
    }

    .imgadidas {
        margin-top: 40px;
        width: 350px;
    }

    .imgfila {
        margin-top: 40px;
        width: 350px;
    }
      
}
