* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#myvideo {
    width: 100%;
    z-index: -99;
   
}

.basvideo {
    font-family: 'Montserrat';
    background-color: #F0F2F0;
    text-align: center;
}

nav {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 8vh;
    
   
    
}

.menu {
    color: white;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 30%;
    font-size: 14px;
    margin-left: 600px;
   z-index: 2;
}

.menu a {
    text-decoration: none;
    color: white;
}

.icons {
    display: flex;
    justify-content: flex-end;
   
}


.bag {
    margin-left: 10px;
}



  .article1 {
      font-family: 'Montserrat';
      margin-left: 200px;
      margin-top: 110px;
      font-size: 20px;
  }

  .items {
font-family: 'Montserrat';
display: flex;
justify-content: space-around;

margin-top: 70px;

  }

  .items1 {
      display: flex;
      flex-direction: column;
  }

  .items2 {
    display: flex;
    flex-direction: column;
}

.items3 {
    display: flex;
    flex-direction: column;

}

.videodescrip {
    
    font-family: 'Montserrat';
    font-weight: bolder;
    position: absolute;
    top: 0;
    left: 10%;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    
    font-size: 70px;
    color: white;
    
}

.explore {
    font-size: 20px;
    font-family: 'Montserrat';
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    border-style: none;
    z-index: 2;
    
}

.explore a {
    text-decoration: none;
    color: black;
}

.button {
    font-family: 'Montserrat';
    font-weight: bolder;
    position: absolute;
    top: 40%;
    left: 10%;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
   
}

a:hover {
    
    color: rgb(141, 140, 140);
    padding: 8PX;
    text-decoration: none;
}

.newcollection {
    margin-top: 200px;
}

.nike {
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
    font-family: 'Montserrat';
}


.rfs {
    font-family: 'Montserrat';
    text-align: center;
    background-color: #F0F2F0;
}

.marques {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    font-family: 'Montserrat';
}

.titremarque {
    font-family: 'Montserrat';
    margin-top: 100px;
    margin-left: 200px;
}
@media screen and (max-width: 1200px) {
    #myvideo {
       
        height: 100%;
    }
    .videodescrip {
        font-size: 45px;
    }

    .explore {
        font-size: 14px;
    border-radius: 4px;
    padding: 8px;
    border-style: none;
    z-index: 2;
    }
    nav {
        width: 100%;
    }
}